.mx-auto{
    margin: 20px 0px;

}

.classic_thumbnails {
	border-radius: 0px;
	margin: 1px;
	padding: 1px;
	border: 1px;
	border-color: #000000;
	
}
.card1{
    border: none;
}
body { 
  padding-top: 100px; 
}

.section{
    padding: 100px 0;
    margin-top: 100px;
    background: rgba(116, 185, 255,0.09);
    text-align: center;
  }


  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
  }
    .card {
      display: inline-block;
    }
    
    .carousel-control-next-icon1 {
      height: 100px;
      width: 100px;
      outline: black;
      background-size: 100%, 100%;
      border-radius: 10%;
      border: 1px solid black;
      background-image: none;
      margin-left: 200px;
    }
    .carousel-control-prev-icon1 {
      height: 100px;
      width: 100px;
      outline: black;
      background-size: 100%, 100%;
      border-radius: 10%;
      border: 1px solid black;
      background-image: none;
      margin-right: 200px;
    }
    
    .carousel-control-next-icon1:after
    {
      content: '>';
      font-size: 55px;
      color: red;
    }
    
    .carousel-control-prev-icon1:after {
      content: '<';
      font-size: 55px;
      color: red;
    }


   
    .dummy_page {
      height: 200px;
      width: 100%;
      background-color: #f0f0f0;
      text-align: center;
      box-sizing: border-box;
      padding: 60px 0px;
    }
    .footer {
      width: 100%;
      position: center;
      height: auto;
      background-color: #999999;
    }
    .contain {
      align-content: right;
    }
    .footer .col {
      width: 190px;
      height: auto;
      float: left;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 0px 20px 20px 20px;
    }
    .footer .col h1 {
      margin: 0;
      padding: 0;
      font-family: inherit;
      font-size: 12px;
      line-height: 17px;
      padding: 20px 0px 5px 0px;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.250em;
    }
    .footer .col ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .footer .col ul li {
      color:black;
      font-size: 14px;
      font-family: inherit;
      font-weight: bold;
      padding: 10px 0px 5px 0px;
      cursor: pointer;
      transition: .2s;
      -webkit-transition: .2s;
      -moz-transition: .2s;
    }
   
    
    /* .footer .col ul li:hover {
      color: #ffffff;
      transition: .1s;
      -webkit-transition: .1s;
      -moz-transition: .1s;
    } */
    .clearfix {
      clear: both;
    }
    @media only screen and (min-width: 1280px) {
      .contain {
        width: 1200px;
        margin: 0 auto;
      }
    }
    @media only screen and (max-width: 950px) {
      .footer .col {
        width: 33%;
      }
      .footer .col h1 {
        font-size: 200px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
    }
    @media only screen and (max-width: 500px) {
        .footer .col {
          width: 50%;
        }
        .footer .col h1 {
          font-size: 14px;
        }
        .footer .col ul li {
          font-size: 13px;
        }
    }
    @media only screen and (max-width: 340px) {
      .footer .col {
        width: 100%;
      }
    }
    .color{
      color: white;
    }

    .carousel-indicators li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 10px;
      text-indent: 0;
      border: none;
      border-radius: 50%;
      background-color:white;
  }
  .carousel-indicators .active {
      width: 10px;
      height: 10px;
      margin: 10px;
      background-color:black;
  }

    .nav-link {
      color:#3759c6 !important;
    }
  

  .navbar{
    background: #fff;
  }
 
  html, body { height: 100%}
  body{
    margin: 0;
    background: #f3f3f3;
    font-family: 'Roboto', "Helvetica Neue", Arial;
    color: #03033e;
    padding-top: 100px;
  }